<h1 style="text-align: center">Gestionaire de Taches</h1> 
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Entrer votre tache"
          aria-label="Entrer votre tache" aria-describedby="button-addon2" [(ngModel)] = "newTodo"
        >
        <button class="btn btn-outline-secondary btn-primary" type="button" 
          id="button-addon2" style="color:white" (click)="enregistrerTache()">Ajouter
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos; let i = index;">
            <th scope="row"> {{i+1}} </th>
            <td class = "{{(!todo.isCompleted)?'done':''}}" (click)="tacheDone(i)">{{todo.name}}</td>
            <td style="color:red; font-weight:bold;" (click)="supprimerTache(i)">Supprimer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>